
@import "variables.scss";
@import "bootstrap-4.0.0-beta1/bootstrap.scss";

/*!

/*
 * Fantom-Lang.org Website
 *
 */

@import "sections/global.scss";
@import "sections/anchorJs.scss";
@import "sections/fontIcons.scss";

@import "pages/askFannyPage.scss";
@import "pages/indexPage.scss";
@import "pages/portfolioPage.scss";


@import "components/chatPopUp.scss";
@import "components/fanny.scss";
@import "components/fatFooter.scss";
@import "components/layout.scss";
@import "components/link.scss";
@import "components/topNavBar.scss";


// see http://css-tricks.com/hash-tag-links-padding/
h2[id]:before,
h3[id]:before {
	display		:  block; 
	content		:    " "; 
	margin-top	:  -5rem; 
	height		:   5rem;
	visibility	: hidden; 
}