== app.renderLayout("Community")

	h1	Community

	p	Social media channels and community groups for Fantom.  
	
	
	
	h2 Forum
	
	p	The official Fantom forum is a great place to ask questions and get answers on anything Fantom.
	
	p.indent.link
		a.lead (href="http://fantom.org/forum/topic/") Fantom Forum
		small.text-muted.credit on fantom.org
	
	p	Share ideas and converse with the creators of Fantom!
	


	h2 Instant Messaging
	
	p	Can't wait for a forum reply? Then find us on instant messaging:
	
	== app.renderLinkOn("IRC WebChat", "http://webchat.freenode.net/?channels=#fantom", "freenode.net (no signup required)", "#fantom")
	== app.renderLink  ("Slack", "https://fantom-lang.slack.com/", "email for invite", "#fantom-lang")



	h2 Social Media
	
	p	Find us here:
	
	ul.list-unstyled
		li;	== app.renderLink("StackOverflow",	"https://stackoverflow.com/questions/tagged/fantom"			, null, "Q & A")
		li;	== app.renderLink("Facebook",		"https://www.facebook.com/fantomLang/"						, null, "Fantom Page")
		li;	== app.renderLink("Twitter",		"https://twitter.com/hashtag/fantomlang?f=tweets"			, null, "#fantomLang")
		li;	== app.renderLink("Reddit",			"https://www.reddit.com/r/Fantom/"							, null, "/r/Fantom")
		li;	== app.renderLink("GitHub",			"https://github.com/topics/fantom"							, null, "fantom topic")



	h2	Books
	
	p	If you have no programming experience, this collaborative online book on Penflip introduces basic concepts: 
	
	== app.renderLinkBy("Programming Fantom 1.0", "https://www.penflip.com/Hertz/programming-language-fantom-1-0/blob/master/1_Introduction.txt", "Hertz", "")

	p	If you already have knowledge of a C like language, then try this excellent overview of Fantom:
	
	== app.renderLinkBy("A Short Introduction to Fantom", "https://github.com/tomcl/fantom-tutorial/raw/master/tutorial.pdf", "Thomas J. W. Clarke", "")



	h2	Resources
	
	p	Lists of public Fantom resources may be found here:
	
	== app.renderLinkOn("Fantom Resources", "https://github.com/Fantom-Factory/fantom-resources/blob/master/readme.md", "GitHub", "")

	ul (style="padding: 0; list-style-position: outside; margin-left: 2rem;")
		li;	a (href="https://github.com/Fantom-Factory/fantom-resources/blob/master/Media.md") Media
		li;	a (href="https://github.com/Fantom-Factory/fantom-resources/blob/master/Community%20Resources.md") Resources
		li;	a (href="https://github.com/Fantom-Factory/fantom-resources/blob/master/Community%20Libraries.md") Libraries
		li;	a (href="https://github.com/Fantom-Factory/fantom-resources/blob/master/Code%20Snippets.md") Code Snippets
