
#fatFooter {
	//background-color	: $brand-blue;

	.shieldsio {
		margin-top	: $spacer * 0.5;
		a {
			text-decoration	: none;
		}
	}

	[data-unscramble] {
		font-family	: Menlo, Monaco, Consolas, "Courier New", monospace;
	}
	

	.nav-link {
		padding-left	: $spacer / 2;
		padding-right	: $spacer / 2;
	}
	.nav-link:hover {
		text-decoration	: underline;
	}
}